# Virtual environment
env/
venv/
ENV/
.venv/

# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
logs/
*.log

# latex
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.tex
report.pdf